/* Write your CSS code here */
.about-img {
  width: 150px;
}

.about-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}
.about-heading {
  font-weight: 500;
  line-height: 56px;
  color: #6d396b;
  font-size: 52px;
}
